# Virtual environments
venv/
*/venv/

# Environment files
.env
*.env
*.env.uat

# Python cache and compiled files
__pycache__/
*__pycache__/
*.pyc

# macOS system files
.DS_Store

# Project-specific files
*/cybervidya_api_collection.json
*/todo